* {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

h5 {
  font-weight: 600;
}

input {
  width: 90%;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}
html {
  overflow-y: scroll; 
}

nav {
  color: rgb(185, 185, 185);
  box-shadow: 0px 0px 8px 0px;
  z-index: 1;
}
.card {
  height: 700px;
  outline: none;
  border: none;
}